.vscode
azure-functions/.funcignore
azure-functions/host.json
azure-functions/proxies.json
azure-functions/.vscode/extensions.json
azure-functions/start-video-indexing/sample.dat
azure-functions/video-indexer-callback/sample.dat
